version: "3.9"

services:
 backend:
  image: ghcr.io/dana971/devsecop/back-test:latest
  container_name: backend
  ports:
   - "8000:8000"

 frontend:
  image: ghcr.io/dana971/devsecop/front-test:latest
  container_name: frontend
  ports:
   - "8080:80"
  depends_on:
  - backend
